@page
@using MegaDeskv3._0.Models
@model MegaDeskv3._0.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] += "Add Quote";
}
<main class="my-12 ">
    <h1 class="my-4 title rounded-md">@ViewData["Title"] </h1>
    <div class="createpage rounded-md p-6">
        <form method="post" class="w-full flex flex-col">
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>

            <div class="grid  grid-cols-1 sm:grid-cols-2 gap-4">
                <div class="flex w-full img-bg hidden rounded-xl  sm:block"> </div>
                <div class="flex w-full">
                    <div class="relative w-full  grid grid-cols-2 gap-3">
                        <div class="">
                            <label asp-for="DeskQuote.customerFirstName" class="labels"></label>
                            <p>
                                <input asp-for="DeskQuote.customerFirstName"
                                    class="mb-3 border border-gray-300 rounded-md p-2 w-full rounded focus:outline-none focus:shadow-outline" placeholder="Jane"/>
                            </p>
                            <span asp-validation-for="DeskQuote.customerFirstName" class="text-red-600"></span>
                        </div>
                        <div class="">
                            <label asp-for="DeskQuote.customerLastName" class="labels"></label>
                            <p>
                                <input asp-for="DeskQuote.customerLastName"
                                    class="mb-3   border border-gray-300 rounded-md p-2 w-full rounded focus:outline-none focus:shadow-outline"
                                    placeholder="Smith" />
                            </p>
                            <span asp-validation-for="DeskQuote.customerLastName" class="text-red-600"></span>
                        </div>
                        <div class="">
                            <label asp-for="DeskQuote.width" class="labels"></label>
                            <p>
                                <input asp-for="DeskQuote.width"
                                       class="mb-3 border border-gray-300 rounded-md p-2 w-full rounded focus:outline-none focus:shadow-outline" placeholder="36"/>
                            </p>
                            <span asp-validation-for="DeskQuote.width" class="text-red-600"></span>
                        </div>
                        <div class="">
                            <label asp-for="DeskQuote.depth" class="labels"></label>
                            <p>
                                <input asp-for="DeskQuote.depth"
                                    class="mb-3 border border-gray-300 rounded-md p-2 w-full rounded focus:outline-none focus:shadow-outline" placeholder="36" />
                            </p>
                            <span asp-validation-for="DeskQuote.depth" class="text-red-600"></span>
                        </div>
                         <div class="">
                            <label asp-for="DeskQuote.drawers" class="labels"></label>
                            <p>
                                <select asp-for="DeskQuote.drawers"
                                    class="mb-3   border border-gray-300 rounded-md p-2 w-full rounded focus:outline-none focus:shadow-outline">
                                    @foreach(var option in BusinessLogic.Drawers)
                                    {
                                    <option value=@option>@option.ToString()</option>
                                    }
                                </select>
                            </p>
                        </div>
                        <div class="">
                            <label asp-for="DeskQuote.rushDays" class="labels"></label>
                            <p>
                                <select asp-for="DeskQuote.rushDays"
                                    class="mb-3 border border-gray-300 rounded-md p-2 w-full rounded focus:outline-none focus:shadow-outline">
                                    @foreach (var option in BusinessLogic.RushDays)
                                    {
                                    <option value="@option">@option</option>
                                    }
                                </select>
                            </p>
                            <span asp-validation-for="DeskQuote.rushDays" class="text-red-600"></span>
                        </div>
                        <fieldset class="mt-4 mb-5 col-span-2">
                            <legend class="">Select Material  </legend>
                            <div class="grid grid-cols-5 sm:gap-4 gap-2 w-full">
                                @foreach (var material in Enum.GetNames(typeof(BusinessLogic.surfaceMaterials)))
                                {
                                    <div>
                                        <input asp-for="DeskQuote.surfaceMaterial" type="radio" value="@material" id="@material.ToLower()" class="sr-only peer">
                                        <label for="@material.ToLower()"
                                               class="w-20 h-20 flex flex-col items-center  rounded-xl  cursor-pointer  focus:outline-none  hover:bg-lime-100  peer-checked:ring-lime-500  peer-checked:ring-4 peer-checked:border-transparent">
                                            <div>
                                                <img src="~/img/@string.Concat(@material.ToLower(), ".jpg")" alt="img"
                                                     class="rounded-xl object-cover scale-75 hover:scale-100 ease-in duration-50 w-20 h-20"/>
                                            </div>
                                            <span>@material</span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                        <span asp-validation-for="DeskQuote.surfaceMaterial" class="text-red-600"></span>

                       <div class="col-span-2 w-full  mt-24 flex justify-end ">      
                             <button type="submit"
                    class="w-48 bg-lime-900 rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-lime-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-300">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="my-12  flex justify-end mr-5">
        <a asp-page="Index"
            class="mt-6 w-48 bg-lime-900 rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-lime-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-300">
            Back to List
        </a>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
