@page
@model MegaDeskv3._0.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeskQuote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.drawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.drawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.surfaceMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.surfaceMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.customerFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.customerFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.customerLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.customerLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.rushDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.rushDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.quoteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.quoteDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeskQuote.quoteTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeskQuote.quoteTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DeskQuote.Id">Edit</a> |
    <a asp-page="./Index"    class="mt-6 w-48 bg-lime-900 rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-lime-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-300">Back to List</a>
</div>
