@page
@using MegaDeskv3._0.Models
@model MegaDeskv3._0.Pages.DeskQuotes.EditModel

<h2>@ViewData["Title"]</h2>
    <div class="editpage">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input class="inputleftpad" type="hidden" asp-for="DeskQuote.Id" />
            <div class="form-group">
                <label class="labels" asp-for="DeskQuote.customerFirstName" class="control-label"></label>
                <input class="inputleftpad" asp-for="DeskQuote.customerFirstName" class="form-control" />
                <span asp-validation-for="DeskQuote.customerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="labels" asp-for="DeskQuote.customerLastName" class="control-label"></label>
                <input class="inputleftpad" asp-for="DeskQuote.customerLastName" class="form-control" />
                <span asp-validation-for="DeskQuote.customerLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="labels" asp-for="DeskQuote.width" class="control-label"></label>
                <input class="inputleftpad" asp-for="DeskQuote.width" class="form-control" />
                <span asp-validation-for="DeskQuote.width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="labels" asp-for="DeskQuote.depth" class="control-label"></label>
                <input class="inputleftpad" asp-for="DeskQuote.depth" class="form-control" />
                <span asp-validation-for="DeskQuote.depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="labels" asp-for="DeskQuote.drawers" class="control-label"></label>
                <select class="inputleftpad" asp-for="DeskQuote.drawers" class="form-control">
                    @foreach(var option in BusinessLogic.Drawers)
                    {
                        <option value=@option>@option.ToString()</option>
                    }
                </select>
                <span asp-validation-for="DeskQuote.drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="labels" asp-for="DeskQuote.surfaceMaterial" class="control-label"></label>
                <select class="inputleftpad" asp-for="DeskQuote.surfaceMaterial" class="form-control">
                    @foreach (var material in Enum.GetNames(typeof(BusinessLogic.surfaceMaterials)))
                    {
                        <option value="@material">@material
                        </option>
                    }
                </select>
                <span asp-validation-for="DeskQuote.surfaceMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="labels" asp-for="DeskQuote.rushDays" class="control-label"></label>
                <select class="inputleftpad" asp-for="DeskQuote.rushDays" class="form-control">
                    @foreach (var option in BusinessLogic.RushDays)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
                <span asp-validation-for="DeskQuote.rushDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn" type="submit" value="Save" class="btn btn-primary" />
    <a class="btn" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
