@page
@model MegaDeskv3._0.Pages.DeskQuotes.IndexModel

<h1>View All Quotes</h1>
  <div class="viewpage">

        <h2>@ViewData["Title"]</h2>
        <form asp-page="./Index" method="get" id="search-form">
            <p id="search">
                Search Quotes by Customer Name: <input class="inputs" type="text" name="SearchString" value="@Model.currentFilter"/>
                <input class="btn" type="submit" value="Filter"/>  <a class="btn" asp-page="./Index">Undo Filter</a>
            </p>
        </form>
    <table class="table">
        <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.firstNameSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].customerFirstName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].customerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].surfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].rushDays)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.dateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].quoteDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].quoteTotal)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.DeskQuote) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.width) inches
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depth) inches
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.drawers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surfaceMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rushDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quoteDate)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.quoteTotal)
                </td>
                <td class="quoteActions">
                    <a class="btn" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a  class="btn" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
  </div>