@model SacramentMeetingPlanner.Models.Member

@{
    ViewData["Title"] = "Members";
    ViewData["PageTitle"] = "Member Details";
}

    <div class="w-full overflow-hidden bg-amber-50 rounded-lg shadow-lg">
        <div class="pt-4">
            <div class="px-6 mb-2 flex flex-col">
                <div class="-m-3 p-3 flex items-start mb-1 rounded-lg">
                    <div class="ml-4 ">
                        <p class="text-xs font-medium text-amber-900 uppercase">@Html.DisplayFor(model =>
                        model.LastName) @Html.DisplayFor(model => model.FirstName)</p>
                        <p class="mt-1 text-sm">
                        @if (Model.IsLeader)                               
                        {
                            @Html.DisplayNameFor(model => model.IsLeader)
                        }
                        else
                        {
                            <p class="mt-1 text-sm"> @Html.Raw("Member")</p>
                        }
                        </p>
                    </div>
                </div>
                           
            </div>
        </div>
    </div>
<br />
<br />

<div>
    <a class="btn btn-save" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
     <a class="btn btn-list" asp-action="Index">Back to List</a>
</div>
<br />
<br />
