@model PaginatedList<SacramentMeetingPlanner.Models.Member>
@{
    ViewData["Title"] = "Members";
    ViewData["PageTitle"] = "Members List";
}
    <div class="flex flex-col w-full">         

        <p class="my-4">
            <a class="btn btn-list" asp-action="Create">Add Member</a>
        </p>
        <br />
        <div class="flex flex-row gap-2">
            <form asp-action="Index" method="get" class="w-3/4">
                <label for="default-search" class="mb-2 text-sm font-medium text-amber-900 sr-only ">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-amber-500 dark:text-amber-400" fill="none"
                            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    <input name="SearchString" value="@ViewData["CurrentFilter"]" type="search" id="default-search"
                        class="block p-4 pl-10 w-full text-sm text-amber-900 bg-amber-200 rounded-lg border border-amber-500 focus:ring-amber-500 focus:border-amber-500"
                        placeholder="Search...">
                    <button type="submit"
                        class="h-10 text-white absolute right-2.5 bottom-2 bg-amber-700 hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
                </div>
            </form>
            <div class="w-1/4 flex justify-between py-2 gap-2">
                <a asp-action="Index"
                    class="h-10 items-center justify-center text-amber-900outline-amber-800  font-medium border border-amber-900 rounded-lg text-sm px-2 py-2">Clear Search</a>

                <a class="w-48 h-10 items-center justify-center text-amber-900outline-amber-800  font-medium border border-amber-900 rounded-lg text-sm px-2 py-2"
                    asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="fa fa-sort-amount-desc mr-2" ></i> Sort By Last Name</a>
            </div>

        </div>

        <div class="grid grid-cols-1 sm:grid-cols-4 gap-4 my-12">
            @foreach (var item in Model)
            {
                <div class="w-full overflow-hidden bg-amber-50 rounded-lg shadow-lg">
                    <div class="pt-4">
                        <div class="px-6 mb-2 flex flex-col">
                            <div class="-m-3 p-3 flex items-start mb-1 rounded-lg">
                                <div class="ml-4 ">
                                    <p class="text-xs font-medium text-amber-900 uppercase">@Html.DisplayFor(modelItem =>
                                    item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</p>
                                    <p class="mt-1 text-sm">
 @if (item.IsLeader)                               {
                                        @Html.DisplayNameFor(modelItem => item.IsLeader)
                                    }
                                    else
                                    {
                                        <p class="mt-1 text-sm"> @Html.Raw("Member")</p>

                                    }
                                    </p>
                                </div>
                            </div>
                           
                        </div>

                        <div class="flex flex-col w-full mt-auto">
                            <div class="grid grid-cols-3 border-t divide-x bg-amber-50 py-4">
                                <a class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center  font-semibold"
                                asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-pencil mr-2"></i>Edit</a>
                                <a class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center  font-semibold"
                                asp-action="Details" asp-route-id="@item.ID"> <i
                                    class="fa fa-external-link mr-2"></i>Details</a>
                                <a class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center  font-semibold"
                                asp-action="Delete" asp-route-id="@item.ID"> <i class="fa fa-trash mr-2"></i>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="my-6">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="btn btn-list @prevDisabled">
                Previous
            </a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="btn btn-list @nextDisabled">
                Next
            </a>
        </div>
        <br /><br />

    </div>
