@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SacramentMeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Add Meeting";
}

<h4 class="h4">New Meeting Info</h4>
<hr />
<div class="row">
    @{
        if (ViewData["Error"] != null)
        {
            <p class="text-danger">@ViewBag.Error</p>
        }
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <select asp-for="MemberID" class="form-control speakerDropDown" asp-items="ViewBag.MemberID">
                    <option>--Please Choose One--</option>
                </select>
                <span asp-validation-for="MemberID"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymn" class="control-label"></label>
                <select asp-for="OpeningHymn" class="form-control speakerDropDown" asp-items="ViewBag.Hymns">
                    <option>--Please Choose One--</option>
                </select>
                <span asp-validation-for="OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participants" class="control-label">Opening Prayer</label>
                @{
                    SelectList prayer1Select;
                    if (ViewData["Prayer1"] != null)
                    {
                        prayer1Select = ViewBag.Prayer1;
                    }
                    else
                    {
                         prayer1Select = ViewBag.MemberID;
                    }
                    <select name="prayer1" class="form-control speakerDropDown" asp-items=@prayer1Select>
                        <option value=-1 >--Please Choose One--</option>
                    </select>
                }
                @{
                    if (ViewData["Prayer1Error"] != null)
                    {
                        <span class="text-danger">@ViewBag.Prayer1Error</span>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label"></label>
                <select asp-for="SacramentHymn" class="form-control speakerDropDown" asp-items="ViewBag.Hymns">
                    <option>--Please Choose One--</option>
                </select>
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateNumber" class="control-label"></label><span class="control-label">(Optional)</span> 
                <input asp-for="IntermediateNumber" class="form-control" />
                <span asp-validation-for="IntermediateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <select asp-for="ClosingHymn" class="form-control speakerDropDown" asp-items="ViewBag.Hymns">
                    <option>--Please Choose One--</option>
                </select>
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participants" class="control-label">Closing Prayer</label>
                @{
                    SelectList prayer2Select;
                    if (ViewData["Prayer2"] != null)
                    {
                        prayer2Select = ViewBag.Prayer2;
                    }
                    else
                    {
                        prayer2Select = ViewBag.MemberID;
                    }
                    <select name="prayer2" class="form-control speakerDropDown" asp-items=@prayer2Select>
                        <option value=-1 >--Please Choose One--</option>
                    </select>
                }
                @{
                    if (ViewData["Prayer2Error"] != null)
                    {
                        <span class="text-danger">@ViewBag.Prayer2Error</span>
                    }
                }
            </div>
            <div id="participantsDiv">
                <label for="numParticipants">Number of Speakers</label>
                <select id="numParticipants" name="numParticipants">
                    @if (ViewData["SpeakerIDs"] != null)
                    {
                        List<int> speakerIDs = ViewBag.SpeakerIDs;
                        for (var i = 0; i < 9; i++)
                        {
                            if (i == speakerIDs.Count)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                    else
                    {
                        for (var i = 0; i < 9; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
            @for (var i = 0; i < 9; i++)
            {
                var idName = $"[{i}].MemberID";
                var orderName = $"[{i}].Order";
                var topicName = $"[{i}].Topic";
                SelectList speakerList;
                if (ViewData["SpeakerIDs"] != null)
                {
                    List<int> speakerIDs = ViewBag.SpeakerIDs;
                    if (i < speakerIDs.Count)
                    {
                        speakerList = new SelectList(ViewBag.Context.Members, "ID", "FullName", speakerIDs[i]);
                    }
                    else
                    {
                        speakerList = ViewBag.MemberID;
                    }
                }
                else
                {
                    speakerList = ViewBag.MemberID;
                }

                <div class="hidden speakers">
                    <div class="form-group">
                        <label asp-for="Participants" class="control-label">Speaker @(i + 1)</label>
                        <select name=@idName class="form-control speakerDropDown" asp-items=@speakerList required>
                            <option value=-1 >--Please Choose One--</option>
                        </select>
                        @if (ViewData["SpeakerError"] != null)
                        {
                            <span class="text-danger">@ViewBag.SpeakerError</span>
                        }
                        
                        <input type="hidden" name=@orderName value=@i />
                    </div>
                    <div class="form-group">
                        <label asp-for="Participants" class="control-label">Topic</label>
                        <input class="form-control" type="text" name=@topicName />
                        @if (ViewData["TopicError"] != null)
                        {
                            <span class="text-danger">@ViewBag.TopicError</span>
                        }
                        
                    </div>
                </div>
            }
            <div class="form-group">
                <input  class="btn btn-save" type="submit" value="Save Meeting" />
                <a class="btn btn-list" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        //adds searchable feature to dropdowns
        $(".speakerDropDown").select2();
    </script>
    <script src="~/js/variableSpeakers.js"></script>
    
}
