@model SacramentMeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntermediateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntermediateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
