@model PaginatedList<SacramentMeetingPlanner.Models.Meeting>
@{
    ViewData["Title"] = "Meetings List";
}
<div class="row">    
       @* <div class="">
            <div class=" h5 ">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Meeting Date</a>
            </div>
            <div class=" h5 ">
              Conducting Leader
            </div>
            <div class=" h6 "></div>
        </div>    
   
@foreach (var item in Model) {
        <div class="row">
            <div class="h6">
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </div>
            <div class="h5">
                @Html.DisplayFor(modelItem => item.Member.FullName)
            </div>
            <div class="h5">
                <a class="btn btn-list" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a class="btn btn-list" asp-action="Details" asp-route-id="@item.ID">Details</a>
                <a class="btn btn-list" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        </div>
    }    
</div>
*@

<div class="flex flex-col w-full">
    <p class="my-4">
        <a class="btn btn-list" asp-action="Create">Add Meeting</a>
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 ">
        @foreach (var item in Model)
        {
            <div class="w-full overflow-hidden bg-amber-50 rounded-lg shadow-lg">
                <div class="pt-4">
                    <div class="px-6 mb-2">
                        <div class="-m-3 p-3 flex items-start rounded-lg">                           
                            <div class="ml-4">
                                <p class="text-xs font-medium text-amber-900 uppercase">meeting date</p>
                                <p class="text-xs font-medium text-amber-900 uppercase">Conducting Leader</p>
                            </div>
                        </div>
                        <div class="-m-3 p-3 flex items-start rounded-lg ">
                            <div class="ml-4">
                                <p class="mt-1 text-sm">@Html.DisplayFor(modelItem => item.Member.FullName)</p>
                                <p class="mt-1 text-sm">@Html.DisplayFor(modelItem => item.MeetingDate)</p>
                            </div>
                        </div>


                    </div>

                    <div class="flex flex-col w-full mt-auto">
                        <div class="grid grid-cols-3 border-t divide-x bg-gray-50 py-4">
                            <a class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center  font-semibold"
                            asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-pencil mr-2"></i>Edit</a>
                            <a class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center  font-semibold"
                            asp-action="Details" asp-route-id="@item.ID"> <i
                                class="fa fa-external-link mr-2"></i>Details</a>
                            <a class="cursor-pointer  uppercase text-xs flex flex-row items-center justify-center  font-semibold"
                            asp-action="Delete" asp-route-id="@item.ID"> <i class="fa fa-trash mr-2"></i>Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Meeting Date</a>
            </th>
            <th>
                Conducting Leader
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FullName)
            </td>
            <td>
                <a class="btn btn-list" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="btn btn-list" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="btn btn-list" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<br />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

    <div class="my-6">
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-list @prevDisabled">
            Previous
        </a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-list @nextDisabled">
            Next
        </a>
    </div>
</div>